body {
  background-image: url('https://earthobservatory.nasa.gov/img/globalmaps/MOD_NDVI_M.jpg');


}

.select {
  color: red;
  font-size: 75px;
}

.charac {
  border: 1px solid #000;
  position: relative;
}

.evil {
  width: 520px;

}

.yang {
  height: 500px;
  width: 300px;
  padding-left: 350px;
}
